.B-Button {
  width: 100%;
  text-align: center;
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid var(--primary-gray);
  background-color: var(--seccond-green);
  color: var(--primary-white);
  border-radius: 0.5rem;
}

.B-Button:hover {
  transition: .3s all ease-in-out;
  background-color: var(--primary-green);
}